

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}

header{
    
    background-image: url(https://tse2.mm.bing.net/th?id=OIP.WhgsZ1ocUYRruqUInrvhugHaEo&pid=Api&P=0&w=272&h=170);
}
.navbar{
    position: sticky;
    top: 0px;

}
section.home{
    background-color: black;
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 94.5%, 0 100%);
}

html{
    scroll-behavior: smooth;
}
.container{
    max-width: 1152px;
    max-height: fit-content;
    padding: 0 15px;
    margin: 0 auto;
}
.Headings{
    color: rgb(231, 20, 48);
    font-size: 6rem;
}

.Topics a{
    color: rgb(15, 15, 10);
    text-decoration: none;
    padding: 0.9rem;
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: bolder;
}
.Topics a:hover{
    color: aqua;
}

.hero{
    padding:2rem ;
}
.hero .right img{
    width: 400px;
}

.hero .left{
    color: rgb(239, 248, 248);
}
.hero .left h1{
    font-size:3rem ;
    color:rgb(182, 121, 77);
    text-transform: uppercase;
}

.hero .left h3{
    font-size:1.5rem ;
    color: bisque;
    line-height:1.7rem;
    margin-bottom:1rem ;
}

.hero .left h3 span{
    color:rgb(12, 93, 139);
}

section{
    padding: 6rem 0;
}
section.about .about-me-img{
    height: 450px;
    
}
section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

section.about h1 span{
    color:coral;
    margin-left:0.3rem;

}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
}
section.about p1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(7, 11, 15);
}
section.about p2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(7, 11, 15);
    margin-top: 1.2rem;
}
section.about p3{
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(7, 11, 15);
    margin-top: 1rem;
}
section.about .icons{
    padding: 2rem;
    font-size: 2rem;
}
section.about .icons .fa-color{
    color: rgb(45, 6, 136);
}
section.about .icons .fa-color:hover{
    color:black;

}

section.Hobbies{
    background-color: rgba(169, 169, 169, 0.74);
}

.section-heading{
    color: black;
    text-align: center;
    margin-bottom: 1.8rem;
    line-height: 0.5;
    font-size: 2rem;
    text-transform: uppercase;
}
section.Hobbies .card-wrapper img{
    
    height: 250px;
    width: 350px;
}
section.Hobbies .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}
section.Hobbies .card-wrapper .card{
    position: relative;

}
section.Hobbies .card-wrapper .card h6{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    text-align: center;
    color: brown;
    text-transform: uppercase;
}
section.qualification{
    background-image: url(https://cdn.wallpapersafari.com/39/55/S3cQns.jpg);
}
section.qualification .heading{
    color: black;
    text-align: center;
    margin-bottom: 2.8rem;
    line-height: 0.5;
    font-size: 2rem;
    text-transform: uppercase;
}
section.qualification .card-wrapper img{
    height: 200px;
    width: 250px
}

section.qualification .card-wrapper .right{
    margin-left: 4rem;
}
section.qualification .card-wrapper .right h4{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 2000;
    color: rgb(7, 11, 15);
}
section.qualification .card-wrapper .right h5{
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:crimson;
    margin-bottom: 1.3rem;
}
section.qualification .card-wrapper .right .mark{
    font-size: 1.4rem;
    font-weight: bolder;
    margin-bottom: 1.2rem;
}
section.qualification .card-wrapper .right a{
    text-decoration: none;
    font-size: 1.3rem;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
section.qualification .card-wrapper .right a:hover{
    color: blue;
}
section.qualification .card-wrapper .card{
    background-color: cadetblue;
    padding: 1rem;
    border: 1.5rem;
    border-radius: 1.5rem;
    border-color: black;
    margin: 2rem auto;
    box-shadow: 10px 10px 10px rgb(7, 11, 15);
}
section.myskill{
    background-image: url(http://cdn.elegantthemes.com/blog/wp-content/uploads/2013/09/bg-9-full.jpg);
}
section.myskill .skill h1{
    color: black;
    text-align: center;
    margin-bottom: 2.8rem;
    line-height: 0.5;
    font-size: 2rem;
    text-transform: uppercase;
}

section.myskill .skill{
    width: 500px;
    margin: 60px auto;
    background-color: rgb(116, 190, 190);
    color:rgba(228, 202, 202, 0.082);
    padding:20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    
}
section.myskill .skill h3{
    color: black;
    text-transform: uppercase;
}
section.myskill .skill div{
    margin: 20px 0;
    padding: 10px;
}
section.myskill .skill .bar{
    background:#353b48;
    display: block;
    height:20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
section.myskill .skill .bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
section.myskill .skill .bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103,1)100%);
}
section.myskill .skill .bar .html{
    width: 80%;
    animation: html 3s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
.skill .bar .css{
    width: 70%;
    animation: css 3s;
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
.skill .bar .python{
    width: 30%;
    animation: python 3s;
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}
.skill .bar .c{
    width: 55%;
    animation: c 3s;
}
@keyframes c{
    0%{
        width: 0%;
    }
    100%{
        width: 55%;
    }
}
.skill .bar .core{
    width: 90%;
    animation: core 3s;
}
@keyframes core{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
section.training{
    background-image: url(https://cdn.wallpapersafari.com/39/55/S3cQns.jpg);
}
section.training h1{
    color: black;
    text-align: center;
    margin-bottom: 2.8rem;
    line-height: 0.5;
    font-size: 2rem;
    text-transform: uppercase;
}

section.training .card-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
}
section.training .card-wrapper .card{
    display: grid;
    border: 4px solid transparent;
    padding: 1rem;
    margin: 1.5rem;
    border-radius: 1rem;
    border-color: crimson;
    box-shadow:20px 20px 40px rgba(17, 17, 17, 0.25), 20px 30px 40px rgba(0, 0, 0, 0.22) ;
    
}
section.training .card-wrapper .card:hover{
    color:darkslategrey;
}
section.training .card-wrapper .card h3{
    
    
    font-size: 1.7rem;
    margin-bottom: 0.5rem;

}
section.training .card-wrapper .card li{
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

section.certificates .heading{
    color: black;
    text-align: center;
    margin-bottom: 2.8rem;
    line-height: 0.5;
    font-size: 2rem;
    text-transform: uppercase;
}
section.certificates .card-wrapper img{
    
    height: 350px;
    width: 350px;
}
section.certificates .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}
section.certificates .card-wrapper .card{
    position: relative;

}
section.certificates .card-wrapper .card a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
    font-weight: 1500;
    color: rgb(202, 65, 10);
    text-transform: uppercase;
}
section.certificates .card-wrapper .card a:hover{
    color: blue;
}

section.contact .heading{
    color: black;
    text-align: center;
    margin-bottom: 2.8rem;
    line-height: 0.5;
    font-size: 2rem;
    text-transform: uppercase;
}
section.contact h1 span{
    color:crimson;
    margin-left: 0.5rem;
}
section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
section.contact .card-wrapper .card{
    text-align: center;
    padding: 1rem;
}
section.contact .card-wrapper .card img{
    width: 50px;
    height: 50px;
    margin-bottom: 1.3rem;
}
section.contact .card-wrapper .card h1{
    font-size: 1.3rem;

}
section.contact .card-wrapper .card h6 a{
    font-size: 0.7rem;
    margin-top: -0.9rem;
    text-decoration: none;
    color: rgb(99, 96, 96);
}
section.contact .card-wrapper .card h6 a:hover{
    color: aqua;
    
}
section.contact .card-wrapper .card:hover{
    border: 2px solid transparent;
    border-color: black;
}
section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}
section.contact .input-wrap-2 input{
    margin-bottom: 2rem;
    font-size: 0.8rem;
}
section.contact input{
    padding: 0.5rem 1rem;
}
section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    border: 1px solid grey;
}
section.contact input:focus{
    outline: none;
}
section.contact .btn-wrapper{
    text-align: center;
}
footer{
    background-color: rgb(2, 0, 5);
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}
footer a{
    margin: 1.5rem;
}
footer .statement{
    color:#353b48;
    font-size: 1rem;
    margin-top: 1rem;
}
 .timeclock{
    font-size: 1.6rem;
    text-align: center;
    font-weight:bolder;
    color:darkgoldenrod;
    background-color: darkslategray;
    border: 2px solid transparent;
    border-color: blue;
    box-shadow: 10px 10px 10px #353b48;
    
}
.flex{
    display: flex;
}
.items-centre{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}

.btn{
    padding:0.6rem 2.5rem;
    margin: 1rem;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-primary:hover{
    background-color: aqua;
    color: black;
}
.btn-primary{
    background: transparent;
    border-color: aqua;
    color: aqua;
}

.btn-secondary{
    background:transparent;
    border-color: aqua;
    color: aqua;
}
.btn-secondary:hover{
    background-color: aqua;
    color: black;
}

.flex-1{
    flex: 1;
}